services:
  - type: web
    name: careerconnect-backend
    runtime: node
    plan: free
    region: oregon
    rootDir: backend
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        value: mongodb+srv://alok_db_user:Alok6807@cluster0.bkv6xsp.mongodb.net/mernapp?retryWrites=true&w=majority&appName=Cluster0
      - key: JWT_SECRET
        value: mJmQwuFlApsSjRIHAFrM5fvTp3wFQM/H4TggsuYetHI=
      - key: PORT
        value: 10000
      - key: CORS_ORIGIN
        value: https://careerconnect-alokrandive18.netlify.app
